.detail {
    width: 600px;
    height: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.8);
    margin-top: 20px;
}
.cart__description, .btn__card {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title, .price, .rebate {
    color: white;
}

