.basket {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.basket h1 {
    color: white;
    font-size: 60px;
}
.basket__card {
    background-color: rgba(0,0,0, 0.8);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: flex-start;
    width: 700px;
    height: 200px;
    padding: 15px;
    position: relative;
    margin: 10px 0;
}
.desciption {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
}
.text, .price, .rebate {
    color: white;
    font-size: 18px;
}

.delete {
    position: absolute;
    color: white;
    border: 2px solid black;
    top: -12px;
    left: 98%;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}

.things {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.plus, .minus, .count {
    padding:  0 10px;
    background-color: white;
    font-size: 25px;
    margin: 0 8px;
    cursor: pointer;
}